<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	数据库字段多语言说明： 
	如果需要实现数据库字段多语言，需要在对应的数据库中文字段后面加上括号内内容（_I18N）,比如:
	原始SQL为：SELECT CHANNEL_NAME FROM DIM_CHANNEL 
	数据库多语言，需改写为： SELECT CHANNEL_NAME_I18N FROM DIM_CHANNEL 
	前置条件：数据库表每种语言对应一个字段，中文字段名为CHANNEL_NAME，英文字段名CHANNEL_NAME_EN，按照I18N协议其他语言加上对应语言的缩写 
-->
<mapper namespace="com.gsl.video.core.video.mapper.VideoExtMapper">

	<resultMap id="VideoExtMap" type="com.gsl.video.core.video.entity.VideoExtEntity">
		<result column="video_id" property="videoId" />
		<result column="click_num" property="clickNum" />
		<result column="like_num" property="likeNum" />
		<result column="collect_num" property="collectNum" />
		<result column="share_num" property="shareNum" />
	</resultMap>

	<select id="getList" resultMap="VideoExtMap">
		select 
			a.video_id, a.click_num, a.like_num, a.collect_num, a.share_num
		from t_video_ext a 
		where 1 = 1
			<if test="videoId != null and videoId != '' ">
				and a.video_id = #{videoId}
			</if>
			<if test="clickNum != null and clickNum != '' ">
				and a.click_num = #{clickNum}
			</if>
			<if test="likeNum != null and likeNum != '' ">
				and a.like_num = #{likeNum}
			</if>
			<if test="collectNum != null and collectNum != '' ">
				and a.collect_num = #{collectNum}
			</if>
			<if test="shareNum != null and shareNum != '' ">
				and a.share_num = #{shareNum}
			</if>
			<if test="orderby != null and orderby != '' ">
				order by '${orderby}'
			</if>
			<if test="start >= 0">
				limit #{start, jdbcType=DECIMAL}, #{length, jdbcType=DECIMAL}
			</if>
		
	</select>
</mapper>
