<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	数据库字段多语言说明： 
	如果需要实现数据库字段多语言，需要在对应的数据库中文字段后面加上括号内内容（_I18N）,比如:
	原始SQL为：SELECT CHANNEL_NAME FROM DIM_CHANNEL 
	数据库多语言，需改写为： SELECT CHANNEL_NAME_I18N FROM DIM_CHANNEL 
	前置条件：数据库表每种语言对应一个字段，中文字段名为CHANNEL_NAME，英文字段名CHANNEL_NAME_EN，按照I18N协议其他语言加上对应语言的缩写 
-->
<mapper namespace="com.gsl.video.core.video.mapper.VideoMapper">

	<sql id="getListConditionSQL">
		<if test="createBy != null and createBy != '' ">
			and a.create_by = #{createBy}
		</if>
		<if test="busiType != null and busiType != '' ">
			and a.busi_type = #{busiType}
		</if>
		<if test="careerLine != null and careerLine != '' ">
			and a.career_line = #{careerLine}
		</if>
	</sql>
	<select id="getList" resultType="com.gsl.video.core.video.vo.VideoVO">
		select a.id,
			   a.busi_type,
			   a.title,
			   a.cover_url,
			   a.create_by,
			   a.update_by,
			   a.update_time,
			   a.career_line,
			   b.click_num   click_num,
			   b.collect_num collect_num,
			   b.like_num    like_num,
			   b.share_num   share_num,
			   b.comment_num   comment_num
		from t_video a,
			 t_video_ext b
		where 1 = 1
		  and a.id = b.video_id
		  and a.id in (select id
					   from (select id
							 from t_video a
							 where 1 = 1
								<include refid="getListConditionSQL"/>
								<if test=" keyWord != null and keyWord != ''">
								   and a.title LIKE concat('%', #{keyWord}, '%')
								 union all
								 (SELECT c.video_id
								  FROM t_video a,
									   t_video_label b,
									   t_video_to_label c
								  WHERE a.id = c.video_id
									and b.id = c.label_id
									and b.name LIKE concat('%', #{keyWord}, '%')
									<include refid="getListConditionSQL"/>
								  group by c.video_id)
								</if>
					       ) r
					   group by id)
		order by <if test=" orderBy != null and orderBy != ''">
					${orderBy} desc ,
				</if>
		         a.update_time desc
	</select>

	<select id="getHomePageCareerList" resultType="com.gsl.video.core.video.vo.VideoVO">
		select
			a.id, a.busi_type, a.career_line_id, a.title, a.video_desc, a.cover_url,
			b.click_num, b.collect_num, b.like_num
		from t_video a
		left join t_video_ext b on a.id = b.video_id
		where 1=1
		<if test="careerLineId != null and careerLineId != '' ">
			and a.career_line_id = #{careerLineId}
		</if>
		order by b.click_num, b.collect_num, b.like_num
		limit 0,4
	</select>

</mapper>
